<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">SYMT Parking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            {% block sidebar %}
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                           aria-current="page" href="{% url 'dashboard:index' %}">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#house-fill"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#ticket"></use>
                            </svg>
                            Tickets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {% if 'locations' in request.resolver_match.namespace %}active{% endif %}" 
                           href="{% url 'dashboard:locations:list' %}">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#building"></use>
                            </svg>
                            Ubicaciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {% if 'commercial_units' in request.resolver_match.namespace %}active{% endif %}" 
                           href="{% url 'dashboard:commercial_units:list' %}">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#building"></use>
                            </svg>
                            Unidades Comerciales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {% if 'stores' in request.resolver_match.namespace %}active{% endif %}" 
                           href="{% url 'dashboard:stores:list' %}">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#building"></use>
                            </svg>
                            Tiendas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {% if 'unit_occupancies' in request.resolver_match.namespace %}active{% endif %}" 
                           href="{% url 'dashboard:unit_occupancies:list' %}">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#building"></use>
                            </svg>
                            Ocupaciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#car-front-fill"></use>
                            </svg>
                            Estacionamientos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#graph-up"></use>
                            </svg>
                            Reportes
                        </a>
                    </li>
                </ul>

                <hr class="my-3">

                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#gear-wide-connected"></use>
                            </svg>
                            Configuración
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="/accounts/logout/">
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#door-closed"></use>
                            </svg>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            {% endblock %}
        </div>
    </div>
</div>